@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.todo-items {
    min-width: 350px;
  }
  ul li{
    border: 2px solid #e5e7eb;
    border-radius: 10px;
    margin: 28px;
  }
  .item {
    background-color: #fff;
    padding: 10px;
    font-size: 1.1rem;
  }
  .item:first-child {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }
  .item:last-child {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
  }
  
  .delete-button {
    float: right;
    background-color: #fee2e2;
    color: #f04f4f;
    border: none;
    outline: none;
    border-radius: 7px;
    padding: 2px 5px;
    margin-left: 10px;
    font-size: 1.1rem;
    font-weight: 550;
  }
 